
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
}

.header {
  flex: 2;
  background-color: blue;
  max-height: 20vh;
}
.middle {
  flex: 5;
  display: flex;
  max-height: 60%;
}
.left {
  flex: 1;
  background-color: orange;
}
.bottom {
  flex: 1;
  background-color: green;
}

.navbarwrapper {
  height: 50px;
  width: 100%;
  background-color: rgba(86, 86, 230, 0.897);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
.logo {
  flex: 2;
  font: size 24px; 
   margin-left: 20px;
   font-weight: bold;
   color: cornsilk;
   cursor: pointer;

}

.tabwrapper {
  flex: 2;
  display: flex;
  justify-content: space-between;
}
.navbarbuttons{
   display: flex ;
  flex: 6;
  justify-content: space-evenly;
  align-items: center; 
  color: white;

}

.bottom{
  text-align: center;
  color: white;
}